@import url('https://fonts.googleapis.com/css2?family=Changa+One&display=swap');

nav a {
    color: #FFFFFF;
    font-family: 'Changa One', cursive;
    font-size: 2rem;
    margin: 0 auto;
    text-decoration: none;
}

nav a:hover {
    color: #FFFFFF;
}